@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Tektur:wght@400..900&display=swap");
@font-face {
  font-family: "minecraft";
  src: url("/fonts/minecraft.woff2") format("woff2");
}
@font-face {
  font-family: "Firs";
  src: url("/fonts/Firs.woff2") format("woff2");
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Firs", sans-serif;
}

button:disabled,
button[disabled] {
  background-color: #ff8800;
  opacity: 0.4;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  z-index: 100;
  background: rgba(225, 225, 225, 0.5);
}

.newyear {
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  background-color: #ffffff;
  opacity: 0.6;
  left: 0;
  position: fixed;
}
.newyear__image {
  z-index: 1;
  height: 100%;
  background: url("/img/bgsite.png");
}

.content {
  z-index: 100;
  flex: 1 1 auto;
}

.container {
  z-index: 100;
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.paymentform {
  position: fixed;
  z-index: 99998;
  height: 100vh;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  visibility: hidden;
  transition: all 0.3s ease;
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
}
.paymentform__title {
  background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 145, 0));
  z-index: 99998;
  border-radius: 10px;
  display: flex;
  height: 60px;
  z-index: 100;
  width: 340px;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.paymentform__title p {
  font-family: "minecraft", sans-serif;
  word-spacing: 6px;
  letter-spacing: 2px;
  line-height: 1.7;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}
.paymentform__decoration {
  z-index: 1;
  transform: rotate(5deg) translate(97px, -104px);
  width: 100px;
  height: 100px;
  position: relative;
  background: url("img/icons/Christmas-Tree-Template.svg") center/100% 100% no-repeat;
}
.paymentform__decoration:before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-15deg) translate(-3px, 54px);
  width: 30px;
  height: 71px;
  background: url("img/icons/Christmas-Candle.svg") center/100% 100% no-repeat;
}
.paymentform__decoration:after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-14deg) translate(-196px, -13px);
  width: 80px;
  height: 80px;
  background: url("img/icons/christmas-sock.svg") center/100% 100% no-repeat;
}
.paymentform__box {
  display: flex;
  position: relative;
  max-width: 1000px;
  padding: 60px;
  margin: 30px 15px;
  z-index: 1;
  transform: scale(0.5);
  transition: all 0.8s ease;
  background: #ffffff;
}
.paymentform__form {
  display: flex;
  height: 420px;
  width: 600px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.paymentform__nickname {
  width: 400px;
  font-size: 16px;
  height: 50px;
  background: #f4f4f4;
}
.paymentform__nickname:focus {
  box-shadow: 2px 25px 27px -13px rgba(204, 201, 195, 0.26);
}
.paymentform__email {
  width: 400px;
  font-size: 16px;
  height: 50px;
  background: #f4f4f4;
}
.paymentform__email:focus {
  box-shadow: 2px 25px 27px -13px rgba(204, 201, 195, 0.26);
}
.paymentform__promo {
  width: 400px;
  font-size: 16px;
  height: 50px;
  background: #f4f4f4;
}
.paymentform__promo:focus {
  box-shadow: 2px 25px 27px -13px rgba(204, 201, 195, 0.26);
}
.paymentform__nickname-img {
  background: url("img/icons/nickname.svg") center/20px 20px no-repeat #f4f4f4;
}
.paymentform__email-img {
  background: url("img/icons/email.svg") center/20px 20px no-repeat #f4f4f4;
}
.paymentform__promo-img {
  background: url("img/icons/promo.svg") center/20px 20px no-repeat #f4f4f4;
}
.paymentform__btn {
  color: #ffffff;
  font-family: "Unbounded", sans-serif;
  border-radius: 14px;
  display: block;
  width: 140px;
  font-weight: 600;
  font-size: 20px;
  height: 50px;
  background: #ff8800;
}
.paymentform .paymentimg {
  font-size: 16px;
  width: 400px;
  width: 44px;
  height: 50px;
}
.paymentform .row {
  display: flex;
}
.paymentform__row4 {
  width: 400px;
  align-items: center;
  justify-content: space-between;
}
.paymentform__totalcost {
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 3px;
  font-weight: 600;
  color: #000000;
  font-family: "Unbounded", sans-serif;
}
.paymentform__totalcost span {
  color: #ff5207;
}
.paymentform__radiocontainer {
  width: 449px;
}
.paymentform__radiocontainer a {
  line-height: 1.5;
  font-size: 16px;
  color: #ff6a00;
}
.paymentform__radiocontainer p {
  line-height: 1.5;
  display: inline-block;
  font-size: 16px;
}
.paymentform__closebtn {
  background: #ffffff;
  position: absolute;
  top: 8px;
  right: 8px;
}
.paymentform .container {
  max-width: 1000px;
}

.check-box {
  width: 0;
  height: 0;
  transition: all 3s ease;
  opacity: 0;
  z-index: -1;
}

.check-box:checked + .check-style:before {
  display: block;
}

.check-style {
  display: inline-block;
  width: 24px;
  font-size: 24px;
  margin-right: 5px;
  vertical-align: text-bottom;
  position: relative;
  height: 24px;
  border-radius: 8px;
  border: 2px solid rgb(255, 123, 0);
}
.check-style:before {
  content: "";
  background: url("img/icons/agreement-checkbox.svg") 0 0 no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  display: none;
  left: 50%;
  transform: translate(-50%, -50%);
}

.paymentform.open {
  visibility: visible;
  opacity: 1;
}

.paymentform.open .paymentform__box {
  transform: scale(1);
}

.header {
  padding: 32px 0;
}
.header__bg {
  box-shadow: 11px 12px 23px 0px rgba(255, 138, 4, 0.5);
  background: linear-gradient(to right, rgb(255, 200, 0), rgba(255, 72, 0, 0.71));
  border-radius: 12px;
}
.header__padding {
  display: flex;
  padding: 0 25px;
  justify-content: space-between;
  align-items: center;
}
.header__img {
  width: 100px;
  height: 100px;
  background: url("img/bluespace.png") center/cover no-repeat;
  border-radius: 30%;
}
.header__items {
  display: flex;
}
.header__links {
  padding: 0 40px 0 0;
}
.header__link-item {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 700;
  color: rgba(227, 227, 227, 0.837);
  transition: all 0.7s ease;
}
.header__link-item:hover {
  color: #ffffff;
  text-decoration: underline;
}
.header__online {
  background: linear-gradient(to right, rgb(255, 145, 0), rgb(255, 145, 0));
  width: 185.05px;
  font-family: "minecraft", sans-serif;
  height: 48px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  line-height: 1.21;
  font-weight: 700;
  font-size: 14px;
}

.slider__image-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  max-width: 1270px;
  height: 700px;
  opacity: 0.8;
  box-shadow: 11px 12px 40px 0px rgba(255, 138, 4, 0.5);
  background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 145, 0));
}
.slider__title {
  font-family: "Tektur", sans-serif;
  margin: 0 0 0 60px;
  width: 500px;
  font-size: 45px;
  color: #ffffff;
}
.slider__row {
  display: flex;
  align-items: center;
}

.categories {
  z-index: 100;
  display: flex;
  font-family: "Unbounded", sans-serif;
  font-size: 30px;
  margin: 0 auto;
}
.categories__text {
  margin: 100px 0 0 0;
  text-align: center;
}
.categories__border {
  width: 128px;
  border-radius: 10px;
  height: 1px;
  margin: 10px auto;
  border: 3px solid rgb(255, 166, 0);
}

.text {
  z-index: 100;
  color: rgb(151, 165, 195);
  font-weight: 600;
  line-height: 1.21;
  font-family: "Firs", sans-serif;
}

.footer {
  z-index: 100;
  display: flex;
  width: 100%;
  margin: 0 0 30px 0;
  height: 168px;
}
.footer .container {
  padding: 0;
  min-width: 100%;
}
.footer__bg {
  z-index: 100;
  background: #353535;
  height: 168px;
}
.footer__row {
  z-index: 100;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
.footer__column-1 {
  z-index: 100;
  max-width: 33.333%;
  height: 136px;
}
.footer__text {
  z-index: 100;
  padding: 10px 0 0 0;
}
.footer__text a {
  color: rgb(151, 165, 195);
  transition: all 0.5s ease;
}
.footer__text a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.footer__column-2 {
  z-index: 100;
  max-width: 33.333%;
  height: 136px;
}
.footer__column2-heading {
  z-index: 100;
  color: rgb(135, 138, 160);
  font-family: "Unbounded", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 0 0 20px 0;
}
.footer__column2-link {
  z-index: 100;
  transition: all 0.5s ease;
}
.footer__column2-link:hover {
  color: #ffffff;
  text-decoration: underline;
}
.footer__column-3 {
  z-index: 100;
  max-width: 33.333%;
  height: 136px;
}
.footer__column3-heading {
  z-index: 100;
  color: rgb(135, 138, 160);
  font-family: "Unbounded", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 0 0 20px 0;
}
.footer__column3-text {
  z-index: 100;
}
.footer__column3-text p:first-child {
  padding: 0 0 5px 0;
}

.last-element {
  height: 1px;
  background: rgb(229, 231, 235);
}

.products {
  margin: 20px 0 0 0;
}
.products__bg {
  box-shadow: 11px 12px 40px 0px rgba(255, 138, 4, 0.5);
  background: linear-gradient(to right, rgb(255, 187, 0), rgb(255, 128, 0));
  border-radius: 26px;
  border: 1px solid #cccccc;
}
.products__items {
  display: flex;
  font-family: "Firs", sans-serif;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
.products__btn {
  background: #f1f1ed;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 500;
  height: 52px;
  width: 205px;
  transition: all 0.5s ease;
}
.products__btn:hover {
  box-shadow: 11px 40px 28px -13px rgba(34, 60, 80, 0.26);
  transform: translate(0, -7px);
  color: #ffffff;
  background: rgb(255, 81, 0);
}

.first-selected-btn {
  color: #000000;
}

.card {
  width: 300px;
  height: 400px;
  background: #ffffff;
}

.privileges {
  padding: 50px 0 300px 0;
  display: flex;
}
.privileges .container {
  max-width: 1200px;
}
.privileges__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  text-align: center;
  text-transform: uppercase;
  padding: 0 0 20px 0;
  font-family: "Unbounded", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.btn {
  border-radius: 10px;
  font-family: "Unbounded", sans-serif;
  width: 104px;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: rgb(248, 175, 3);
}

.img {
  margin: 10px 0 20px 0;
  border-radius: 12px;
  min-width: 250px;
  min-height: 250px;
}

.card {
  opacity: 1;
  visibility: visible;
  margin: 16px 16px;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  transform: scale(1, 1);
  transition: all 0.5s ease;
}
.card:hover {
  box-shadow: 11px 40px 28px -13px rgba(161, 134, 36, 0.327);
  transform: scale(1.05, 1.05);
  transition: all 0.3s ease;
}

.card__last-element {
  height: 20px;
}

.hidden {
  opacity: 0;
  transition: transform 0.7s ease, opacity 0.5s ease, visibility 0.5s ease, display 0.5s ease;
  visibility: hidden;
  pointer-events: none;
}

.somecard {
  opacity: 0;
  transform: scale(0.8);
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
}

.activecard {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s;
}

.item {
  position: relative;
}
.item:hover .btn-hover {
  visibility: visible;
  position: static;
}
.item:hover .btn {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.btn-hover {
  visibility: hidden;
  position: absolute;
  font-family: "Unbounded", sans-serif;
  font-size: 16px;
  background-color: rgb(255, 153, 0);
  font-weight: 700;
  width: 104px;
  color: #ffffff;
  height: 40px;
  border-radius: 10px;
}

.active {
  background: rgb(255, 102, 0);
  color: #ffffff;
}

.cases {
  padding: 50px 0 300px 0;
}
.cases .container {
  max-width: 1090px;
}
.cases__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.battlepass {
  padding: 50px 0 300px 0;
}
.battlepass .container {
  max-width: 1090px;
}
.battlepass__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tokens {
  padding: 50px 0 300px 0;
}
.tokens .container {
  max-width: 1090px;
}
.tokens__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.someone {
  padding: 50px 0 300px 0;
}
.someone .container {
  max-width: 1090px;
}
.someone__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.second-card__image {
  background: url("img/donate/winter.jpeg") center/100% 100% no-repeat;
}

.first-card__image {
  background: url("img/donate/wither.png") center/cover no-repeat;
}

.third-card__image {
  background: url("img/donate/space.jpg") center/cover no-repeat;
}

.four-card__image {
  background: url("img/donate/archangel.jpg") center/cover no-repeat;
}

.five-card__image {
  background: url("img/donate/demon.jpg") center/cover no-repeat;
}

.six-card__image {
  background: url("img/donate/berserk.jpg") center/cover no-repeat;
}

.cases1-card__image {
  background: url("img/cases/doncase.png") center/cover no-repeat;
}

.cases2-card__image {
  background: url("img/cases/mystcase.png") center/cover no-repeat;
}

.cases3-card__image {
  background: url("img/cases/rubcase.jpg") center/cover no-repeat;
}

.cases4-card__image {
  background: url("img/cases/titlecase.png") center/cover no-repeat;
}

.battlepass1-card__image {
  background: url("img/battlepass/battlepass.png") center/cover no-repeat;
}

.battlepass2-card__image {
  background: url("img/battlepass/battlelvl.png") center/cover no-repeat;
}

.tokens1-card__image {
  background: url("img/tokens/small-tokens.jpg") center/cover no-repeat;
}

.tokens2-card__image {
  background: url("img/tokens/small-tokens.jpg") center/cover no-repeat;
}

.tokens3-card__image {
  background: url("img/tokens/small-tokens.jpg") center/cover no-repeat;
}

.tokens4-card__image {
  background: url("img/tokens/a-lot-tokens.jpg") center/cover no-repeat;
}

.tokens5-card__image {
  background: url("img/tokens/a-lot-tokens.jpg") center/cover no-repeat;
}

.someone1-card__image {
  background: url("img/someone/unban.jpg") center/cover no-repeat;
}

.someone2-card__image {
  background: url("img/someone/unmute.jpg") center/cover no-repeat;
}

.someone3-card__image {
  background: url("img/someone/changedonate.png") center/cover no-repeat;
}

.someone4-card__image {
  background: url("img/someone/customtitle.jpg") center/cover no-repeat;
}/*# sourceMappingURL=style.css.map */
